.button-link,
.button2-link {
    display: inline-block;
    padding: 10px 24px;
    margin: 8px 0;
    color: #e3ffe3;
    border-radius: 18px;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    border: 2px dashed;
    transition: box-shadow 0.3s, background-color 0.3s;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-color: rgba(255, 255, 255, 0.3);
    color: #dfffdfff;
}

.button-link {
    background: rgba(106, 176, 76, 0.25);
    border-color: rgba(74, 124, 42, 0.4);
    color: #e3ffe3;
}
.button-link:hover {
    box-shadow: 0 0 12px 4px rgba(140, 216, 94, 0.5);
    background: rgba(140, 216, 94, 0.35);
}

.button2-link {
    background: rgba(117, 82, 154, 0.25);
    border-color: rgba(80, 53, 106, 0.4);
    color: #e3ffe3;
}
.button2-link:hover {
    box-shadow: 0 0 12px 4px rgba(170, 126, 212, 0.5);
    background: rgba(170, 126, 212, 0.35);
}

details {
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  max-height: 7.5em;
}

details[open] {
  max-height: 1000px;
}

details > summary {
  cursor: pointer;
  font-weight: bold;
  user-select: none;
  transition: color 0.3s ease;
  list-style: none;
}

details > summary:hover {
  color: #aadd55;
}

details[open] > summary {
  color: #b5e853;
}

details > summary::-webkit-details-marker {
  display: none;
}
details > summary::marker {
  content: "";
}

details > summary::before {
  content: "+";
  display: inline-block;
  margin-right: 6px;
  transform-origin: center;
  transition: transform 0.3s ease;
}

details[open] > summary::before {
  transform: rotate(225deg);
}