.button-link,
.button2-link {
    display: inline-block;
    padding: 10px 24px;
    margin: 8px 0;
    background-color: #333333;
    color: #e3ffe3;
    border-radius: 18px;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    border: 2px dashed;
    transition: box-shadow 0.3s, background-color 0.3s;
}

.button-link {
    border-color: #b6e65b;
}
.button-link:hover {
    box-shadow: 0 0 10px 2px #43ff4388;
    background-color: #444444;
}

.button2-link {
    border-color: #800080;
}
.button2-link:hover {
    box-shadow: 0 0 10px 2px #80008088;
    background-color: #444444;
}








#menuButton {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
  transition: background 0.3s ease, border-color 0.3s ease;
  background-image: 
    linear-gradient(to bottom, white 2px, transparent 2px),
    linear-gradient(to bottom, white 2px, transparent 2px),
    linear-gradient(to bottom, white 2px, transparent 2px);
  background-position: center 12px, center 24px, center 36px;
  background-repeat: no-repeat;
  background-size: 60% 2px;
}
#menuButton:hover {
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
}
