<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

    {% seo %}
  </head>

  <body>

    <header>
      <div class="container" style="display: flex; align-items: center;">
        <video autoplay muted loop playsinline id="site-header-video" style="width: 80px; height: auto; margin-right: 10px;">
          <source src="{{ '../assets/SiteHeaderVideo.mp4' | relative_url }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>